/.git
/.gitignore
/.env
/.env.example

/Dockerfile
/docker-compose.yaml
/docker-compose-dev.yaml
/nginx
/media

__pycache__
**/*.pyc

.dockerignore
/start.sh
/stop.sh
/README.md
/.pre-commit-config.yaml
